* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #ffd;
  font: 30px sans-serif;
}

#play{
 background: violet;    
 color: black;
}

#pause{
 background: green;
 color: white;    
 
}

button{
  font-family: cursive;
}

#C4{
  background-color: red;
  border-radius: 100%;
}