
body {
	font-family: "Trebuchet MS", Verdana, sans-serif;
}

.taskbar {
	list-style-type: none;
	float: left;
	
	margin: 0 0 3em 0;
	padding:0;
	line-height: 2;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	display: block;
	zoom: 1;
	
	width: 100%;
	
	background: #4E4F4D;
	color: white;
}

.taskbar li {
	display: inline;
	line-height: 2;
	padding-left: 3em;
	padding-right: 3em;
	
	background: #4E4F4D;
	font-size: 1.5em;
}

.taskbar li a {
	color: white;
	text-decoration: none;
}