body {
	font-family: "Trebuchet MS", Verdana, sans-serif;
	margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px
}

/* Contains user workspace, timeline and everything else below top navbar */
.content {
    position: absolute;
    left:2px; top:80px; right:0; bottom:0;
}

#timeline {
	position: relative;
	overflow: scroll;
	overflow-y:hidden;
	white-space:nowrap;
    left:2px; top:0px; right:0; bottom:0;
    height: 150px;
    width: auto;
    background-color: #ffffff;
    border-top: solid 3px black;
}

/* My test note added to timeline. The boxes in grey */
.noteDefault {
	position: relative;
	display: inline-block;
	height: 150px;
	width: 100px;
	background-color: grey;
	border-left: dotted 1px black;
	border-right: dotted 1px black;
}

.col-md-1 {
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    
	padding-top:0.3em;
	padding-bottom:0.1em;
    margin-top:0.2em;
    margin-bottom:0.2em;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    
    text-decoration:none;
    text-transform:uppercase;
    text-align:center;
    text-shadow:1px 1px 0px #07526e;
    font-size:2em;
    font-weight:bold;
    color:#fff;
    cursor:pointer;
    border: none;
    background: #109bce;/*default light blue-ish #109bce*/
    border-radius: 1em;
    box-shadow: inset 0px 1px 0px #2ab7ec, 
    			0px 5px 0px 0px #07526e, 
    			0px 10px 5px #999;
}

.col-md-1:active {
    top:3px;
    box-shadow: inset 0px 1px 0px #2ab7ec, 
    			0px 2px 0px 0px #07526e, 
    			0px 5px 3px #999;
}

.col-md-1:hover {
    padding-top:0.3em;
    margin-top:0.2em;
    margin-bottom:0.2em;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    
    text-decoration:none;
    text-transform:uppercase;
    text-align:center;
    text-shadow:1px 1px 0px #07526e;
    font-size:2em;
    font-weight:bold;
    color:#fff;
    cursor:pointer;
    border: none;
    background: #004080;
    border-radius: 1em;
    box-shadow: inset 0px 1px 0px #2ab7ec, 
    			0px 5px 0px 0px #07526e, 
    			0px 10px 5px #999;
}











/* Some omitted code */
/* Sidebar on left */
/* Decided we don't really need a sidebar on the left yet 
   with so much space on the top navbar
.left-sidebar {
    position:absolute;
    left:0; top:80px; bottom: 0;
    width: 120px;
    background-color: #575757;
    border: solid 2px black;
}

Top navigation bar already enabled by Bootstrap
.top {
    position:absolute;
    left:0; right:0;
    height: 80px;
    background-color: #575757;
    text-align: left;
    font-size: 2em;
    color: white;
}
*/



