body {
	font-family: "Trebuchet MS", Verdana, sans-serif;
	margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px
}

a {
	cursor: pointer;
}

.container {
	z-index: 1;
}

/* In the navbar */
#bpm-input {
	border-radius: 5px;
	width: 3em;
}

#bpm-button {
	border-radius: 25px;
	background-color: #b3b3b3; 
}

#bpm-button:hover {
	background-color: #e0e1ce;
}

/* Contains user workspace, timeline and everything else 
   below top navbar */

#timeline {
	position: relative;
    left: 0px; top:0px; right:0; bottom:0;
    z-index: 0;
    background-color: none;
    border-top: solid 3px black;
    border-bottom: solid 2px black;
    height: 78px;
    width: auto;
}

#sortable-system {
	position: absolute;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	z-index: 0;
	height: 78px;
	width: auto;
    max-width: 100%;
}

.ui-sortable-placeholder {
	height: 0px; /* This is like...the most important line LOL*/
	width: 45px; /* Just the right size */
    display: inline-block;
}

#sortable-system div {
	cursor: pointer;
	
	/* Chunk of code here prevents awkward 
       highlighting when dragging*/
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;		
}


#grid-system {
	position: absolute;
	left: 0px; top:0px; right:0; bottom:0px;
	z-index: 0;
	height: 55px;
	width: auto;
}

/* Note: grid-col-holder is only a reference for the 
		 width of a note/size of division/column width 
*/
.grid-col-holder {
	position: relative;
	float: left;
	width: 100px; /* Default width just in case */
}

.animate-note {
	background-color: red;
	width: 0.3%;
}

/*@keyframes move_eye { from { margin-left:-1%; } to { margin-left:100%; } }
*/
.grid-square {
	position: relative;
	height: 53px; /* Default height just in case */
	border: solid 1px #e4e4e4;
	
	/* Chunk of code here prevents awkward 
       highlighting when dragging*/
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;			
}

.col-md-1 {
    position: relative;
    display: inline;
	top: 0.5em;
	padding-top:0.3em;
	padding-bottom:0.1em;
    margin-top:2px;
    margin-bottom:2px;
    margin-left:auto;
    margin-right:auto;
    float: left;
    
    text-decoration:none;
    text-transform:uppercase;
    text-align:center;
    text-shadow:1px 1px 0px #07526e;
    font-size:2em;
    font-weight:bold;
    color:#fff;
    border: none;
    background: #109bce;/*default light blue-ish #109bce*/
    border-radius: 1em;
    box-shadow: inset 0px 1px 0px #2ab7ec, 
    			0px 5px 0px 0px #07526e, 
    			0px 10px 5px #999;
    			
    /* Chunk of code here prevents awkward 
       highlighting when dragging*/
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;			
}


.col-md-1:active {
	cursor:grab;
	cursor:pointer;
    box-shadow: inset 0px 1px 0px #2ab7ec, 
    			0px 2px 0px 0px #07526e, 
    			0px 5px 3px #999;
}

.col-md-1:hover {
	top: 0.6em;
    background: #004080;
    cursor:grab;
    cursor:pointer;
}

#rest {
	opacity: 0.5;
}





/* Some omitted code */
/* Sidebar on left */
/* Decided we don't really need a sidebar on the left yet 
   with so much space on the top navbar
.left-sidebar {
    position:absolute;
    left:0; top:80px; bottom: 0;
    width: 120px;
    background-color: #575757;
    border: solid 2px black;
}

Top navigation bar already enabled by Bootstrap
.top {
    position:absolute;
    left:0; right:0;
    height: 80px;
    background-color: #575757;
    text-align: left;
    font-size: 2em;
    color: white;
}
*/



